.half {
    flex: 0.5;
}

.oneAndAHalf {
    flex: 1.5
}

.small {
    font-size: 12px;
}

.cardContainer {
    transform-style: preserve-3d;
}

.card {
    backface-visibility: hidden;
}

.cardBack {
    transform: rotateX(180deg);
}